.banner{
    width: 100%;
    height: 400px;
    background: url('../../img/banner2.webp') no-repeat;
    background-size: cover;
    background-position: center;
}
.banner .title-banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgba(27,27,27,0.7315301120448179) 24%, rgba(0,0,0,0.227328431372549) 100%);
}

.sobre-mim .sobre-mim-txt{
    font-size: 1.2rem;
}
.sobre-mim .btn-sobre{
    display: flex;
    justify-content: center;
}

.projetos{
    width: 100%;
    background-color: #292929;
    min-height: 300px;
}
.projetos .container-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projetos .container-projetos a{
    color: #FFF;
    text-decoration: none;
}
.projetos .container-projetos a .projeto{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
.projetos .container-projetos a .projeto .img{
    position: absolute;
}
.projetos .container-projetos a .projeto .img img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.projetos .container-projetos a .projeto .txt-projeto{
    background-color: #1e1e1e;
    position: relative;
    top: 200px;
    padding: 5px;
    height: 150px;
    transition: ease-in-out 0.3s;
}
.projetos .container-projetos a .projeto .title-projeto{
    background-color: #1e1e1e;
    position: relative;
    height: 50px;
    top: 50px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 999;
}
.projetos .container-projetos a .projeto:hover > .txt-projeto{
    top: 50px;
}
.projetos .btn-projetos{
    display: flex;
    justify-content: center;
}